#contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

#contact-container hgroup {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact-container hgroup > p {
    font-size: 1.2rem;
}

#contact-container address {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

my-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 31%;
    color: var(--const-text-primary-color, black);
    padding: 2rem;
}

my-contact p {
    width: 60%;
    text-align: center;
    font-size: 1rem;
}

my-contact a img {
    width: 4rem;
    animation: bounce 2s linear infinite;
}

my-contact p a {
    font-weight: bold;
    color: var(--main-color-dark,black);
}

my-contact[data-contact="github"] {
    background-color: #e9cffa;
}

my-contact[data-contact="linkedin"] {
    background-color: #cae3fa;
}

my-contact[data-contact="email"] {
    background-color: #faedac;
}

#contact-form {
    box-sizing: border-box;
    background-color: var(--background-color-secondary);
    width: max(50%, 600px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 3rem;
    box-shadow: var(--shadow-form, none);
}

fieldset {
    border: none;
}

.form-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    position: relative;
}

.required-indicator {
    color: red;
    margin-left: 0.2em;
}

#contact-form label {
    text-align: right;
    font-weight: bold;
    color: var(--text-primary-color, black);
}

#contact-form input,
#contact-form textarea {
    background-color: transparent;
    width: 100%;
    padding: 0.7rem 0.7rem;
    border: 1px solid var(--main-color-dark, hotpink);
    border-radius: 0.5rem;
    color: var(--text-primary-color, black);
}

#contact-form :is(input, textarea):required:placeholder-shown {
    background-color: var(--form-input-background-color, #fcfafc);
}

.flash {
    animation: flash 1.5s ease-in-out;
}

.error-message {
    color: var(--warning-color, red);
}

.error-message {
    text-align: center;
    position: absolute;
    right: 0;
    bottom: -1.2rem;
}

.error-message, #comments-info {
    font-size: 0.8rem;
}

#comments-info {
    color: var(--main-color, pink);
    align-self: flex-end;
    margin-right: 1rem;
}

#char-counter {
    font-weight: bold;
}

@media (max-width: 800px) {
    address {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    my-contact {
        width: 60%;
        height: 8rem;
        padding: 0 10%;
    }

    my-contact p {
        font-size: 1rem;
    }

    #contact-form {
        width: 100%;
    }
}

@media (max-width: 600px) {
    my-contact {
        width: 70%;
    }
}

@media (max-width: 450px) {
    my-contact {
        width: 80%;
    }
}
